<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="MyCtrl">
    <div ng-repeat="show in rec['tvguide']">
        <ul ng-repeat="programs in show.ProgramSchedules">
            <a href="#" ng-click="record(programs, show.Channel.Number)">{{programs.Title}} {{programs.StartTime}}<div ng-show="programs.AiringAttrib == 44">+--new</div></a>
        </ul>
    </div>
</body>

</html>
