<html ng-app="myApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.js"></script>
<script src="controller.js"></script>
</head>
<body ng-controller="MyCtrl">

 <select ng-model="selectedStation" ng-options="item.station for item in list[3]"></select><br>
{{selectedStation}}
<br />
<button ng-click='schedule()' ng-hide='addSchedule'>Schedule</button>
<button ng-click='scheduled()' ng-hide='addSet'>Add</button>
</body>
</html>
